@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">
        BestPhysio’s staff are all experts in physiotherapy and they will provide you
        with customized solutions. Help you eliminate muscle soreness and other movement
        disorders, so that you get a better state of exercise.
        This website contains introduction to sports injuries, a description of the services we provide,
        an introduction to the clinic and the ability to make an booking online
    </p>
</div>
